#nav {
    position: fixed;

    height: 4rem;
    padding-top: 1.5rem;
    padding-right: 2%;
    text-align: right;
    font-size: 1.3vw;
    background-color: transparent;
    font-weight: 600;
    z-index: 2;
	overflow: hidden;
}

.nav-ele {
    padding-right: 40px;
}

a:hover {
    color: #00ebc7;
}

/* ========================== MEDIA QUERY ============================= */

@media screen and (max-width:1024px) {
    #nav {
        text-align: center;
        font-size: 2vw;
    }
}

@media screen and (max-width:600px) {
    #nav {
        display: none;
    }
}