#projects {
    padding-right: 9rem;
    padding-left: 9rem;
    margin: 0%;
}

#project-title {
    padding-top: 1%;
    margin-bottom: 1%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.project-name {
    padding-bottom: 0;
    margin-bottom: 0;
}
  
.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 2rem;
    background: #202C6D;
    padding: 1%;
  }
  
.swiper-slide img {
    display: block;
    object-fit: cover;
    border-radius: 6rem;
    overflow:hidden;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
  }

.project-desc{
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
}


/* ========================== MEDIA QUERY ============================= */

@media screen and (max-width:1024px) {
    .project__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .swiper-slide img {
        border-radius: 4rem;
        padding:5%;
    }

    .project-desc{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
    }

    .project_item{
        padding: 5%;
    }
}

@media screen and (max-width:600px) {
    .project__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #projects {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .swiper-slide img {
        border-radius: 2rem;
    }
}