.cardBackground {
    background-color: #152b4e;
    border-radius: 0.7rem;
    height: 100%;
}

.cardIcons {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

.cardContent {
    padding-left: 1rem;
    padding-right: 1rem;
}

#cardTitle {
    font-size: 1.3rem;
    font-weight: 550;
    color: white;
}

.cardBody {
    color: #dfe3e5;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

#cardBottom {
    padding-bottom: 1.5rem;
    color: white;
}

