.about__container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 55% 30%;
    gap: 10%;
}

#about {
    margin-top: 0%;
    padding-top: 60px;
    padding-right: 9rem;
    padding-left: 9rem;
}

.bios {
    margin-bottom: 4%;
    font-size:1.25vw;
}

#bio {
    color: #8187AA;
    font-size: large;
    font-weight: 100;
}

ul {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4%;
    padding-left: 1rem;
}

li {
    font-size: 1.2vw;
    margin-left: 10px;
    list-style-type:disc;
    color:#8187AA;
 }

 li::marker{
     color:#00ebc7;
 }

 hr {
    border: 0;            
    background-color: white;
    margin-top: 3%;
 }

.about__me-image {
    height: 90%;
    border-radius: 2rem;
    overflow:hidden;
}

/* ========================== MEDIA QUERY ============================= */

@media screen and (max-width:1024px) {
    .bios {
        font-size:1.18rem;
        text-align: left;
    }
    
    li {
        font-size: 18px;
     }

    .about__container {
        display:table;
    }

    p {
        padding-bottom: 1rem;
    }

    .about__me-image {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        padding-left: 0.4rem;
    }
}

@media screen and (max-width:600px) {

    .about__me-image {
        width: 70%;
        border-radius: 1rem;
    }

    #about {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .bios, li {
        font-size: 0.9rem;
    }
}