#contact {
    margin-top: 0%;
    padding-right: 9rem;
    padding-top: 1rem;
    padding-left: 9rem;
}

.socials {
    text-align: center;
}

#contact-title {
    text-align: center;
}

.social-space {
    padding-right: 20px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: white;
    height: 1px;
    margin-bottom: 3%;
 }

/* ========================== MEDIA QUERY ============================= */

@media screen and (max-width:1100px) {
    #contact {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

@media screen and (max-width:600px) {
    #contact {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}