header {
    background: url("sky.jpg") no-repeat center center/cover;
    height:100vh;
    padding-top: 12rem;
    padding-right: 9rem;
    padding-left: 9rem;
    overflow:visible;
}

.header__container {
    text-align:left;
    color: white;
    position: relative;
}

.typing{
    height: 13vh;
    font-size: 4vw;
    position: relative;
    font-weight: 550;
    color: #00ebc7;
}

#hi {
    padding-top: 0.6rem;
}

#ido {
    font-size: 1.8vw;
    color: #606582;
}

.contact-me {
    font-size: 1.1vw;
}

#spaceship {
    animation: updown 3s linear infinite;
    position: absolute;
    height: 20vw;
    width: 30vw;
    left:55%;
    bottom: 6rem;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* ========================== MEDIA QUERY ============================= */
@media screen and (max-width:1024px) {
    .typing{
        font-size: 3.5rem;
        height: auto;
    }

    .contact-me {
        font-size: 1rem;
    }

    #ido {
        font-size: 1.75rem;
    }

    header {
        height: 100vh;
    }
    
    .header__container {
        text-align: center;
    }

    #spaceship {
        display: none;
    }
}

@media screen and (max-width:600px) {
    header {
        padding-right: 4rem;
        padding-left: 4rem;
        padding-top: 6rem;;
    }
}