.footer__copyright {
    margin-bottom: 4rem;
    color: #8187AA;
    text-align: center;
    margin-top: 10px;
}

/* ========================== MEDIA QUERY ============================= */

@media screen and (max-width:600px) {
    .footer__copyright {
        margin-bottom: 1rem;
        color: #8187AA;
        text-align: center;
        margin-top: 25px;
    }

    p {
        padding-bottom: 1px;
    }
}